<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapping.EnterpriseArcMapper">
<resultMap id="enterpriseArcMap" type="EnterpriseArc">
        <id property="eid" column="AAC001" javaType="java.lang.Integer"></id>
 		<result property="code" column="AAC002" javaType="java.lang.String"></result>
        <result property="name" column="AAC003" javaType="java.lang.String"></result>
        <result property="address" column="AAC004" javaType="java.lang.String"></result>       
        <result property="telName" column="AAC005" javaType="java.lang.String"></result>
        <result property="tel" column="AAC006" javaType="java.lang.String"></result>       
        <result property="scale" column="AAC007" javaType="java.lang.String"></result>
     	<result property="industry" column="AAC008" javaType="java.lang.String"></result>                 	
        <result property="introduction" column="AAC009" javaType="java.lang.String"></result>
        <result property="state" column="AAC010" javaType="java.lang.String"></result>       
        <result property="reviewer" column="AAC011" javaType="java.lang.String"></result>
        <result property="revTime" column="AAC012" jdbcType="TIMESTAMP"></result>   
      <collection property="job" column="AAC001" javaType="ArrayList" ofType="EnterpriseJob"
      	select="com.mapping.EnterpriseJobMapper.findByEid"
      />
      <collection property="view" column="AAC001" javaType="ArrayList" ofType="InterView"
      	select="com.mapping.InterViewMapper.findByEid"
      />
        </resultMap>
	<!--  parameterType 表示传入数据的数据类型 -->
	<insert id="addEnterpriseArc" parameterType="EnterpriseArc" useGeneratedKeys="true" keyProperty="AAC001">
		insert into t_arc_org_info(AAC002,AAC003,AAC004,AAC005,AAC006,
		AAC007,AAC008,AAC009,AAC010) 
		values(#{code},#{name},#{address},#{telName},#{tel},
		#{scale},#{industry},#{introduction},#{state})
	</insert>
	
	<update id="updateEnterpriseArc" parameterType="EnterpriseArc">
		update t_arc_org_info set AAC002=#{code},AAC003=#{name},AAC004=#{address},
		AAC005=#{telName},AAC006=#{tel},AAC007=#{scale},AAC008=#{industry},
		AAC009=#{introduction} where AAC001=#{eid}
	</update>
	
	<update id="audit" parameterType="EnterpriseArc">
		update t_arc_org_info set AAC010=#{state},AAC011=#{reviewer},AAC012=#{revTime} where AAC001=#{eid}
	</update>
	
	<select id="findByEid" resultMap="enterpriseArcMap">
		select * from  t_arc_org_info where AAC001=#{eid} 
	</select>
	
	<select id="findByCode" resultMap="enterpriseArcMap">
		select * from  t_arc_org_info  where AAC002=#{code}
	</select>
	<select id="findByState" resultMap="enterpriseArcMap">
		select * from  t_arc_org_info  where AAC010=#{state}
	</select>

</mapper>